**/.idea
**/logs
**/node_modules
**/.vscode
**/target
**/out

athena-server/.buildpath
athena-server/.hgignore.swp
athena-server/.project
athena-server/.orig
athena-server/.swp
athena-server/.settings/
athena-server/bin/
athena-server/main
athena-server/main.exe
athena-server/output/
athena-server/manifest/output/
athena-server/temp/
athena-server/temp.yaml
athena-server/**/config/config.yaml
